.header {
    width: 100vw;
    height: 20vh;
    background-color: #92AABD;
    display: flex;
    justify-content: left;
}

.header-title {
    font-size: 32px;
    color: #183B56;
    padding-left: 30px;
}

.blog {
    width: 536px;
    height: 321px;
    pading: 20px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: #abbcc4;
    border: 3px solid #183B56;
}

.blog-title {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #183B56;
}

.blog-image {
    padding-left: 20px;
}

.blog-content {
    padding-left: 20px;
    color: #183B56;
}

.article {
    width: 536px;
    height: 321px;
    pading: 20px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: #abbcc4;
    border: 3px solid #183B56;
}

.article-title {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #183B56;
}

.article-image {
    padding-left: 20px;
}

.article-content {
    padding-left: 20px;
    color: #183B56;
}